.TaskContent{
	padding: 2rem 1rem;
	background-color: #ffffff11;
	min-height: 176px !important;
}

.TaskContent-title{
	display: inline-block;
	position: relative;
	font-size: 2rem;
	line-height: 0;
}

.TaskContent-title::before{
	content: '';
	position: absolute;
	bottom: -30px;
	width: 40px;
	height: 8px;
	background-color: var(--color-secondary);
}

.TaskContent-message{
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	opacity: .5;
}

.TaskContent-tasks{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}